@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s1,&-s2{
        background-position-x: center!important;
    } 
    &-s3{
        background-color: #999 !important;
        background-blend-mode: multiply!important;
    }
}
.index{
    &-s1{
        background-position-x: center!important;
    }
}
.menu{
    &-s1{
        background-position-x: center!important;
    }
    &-s3{
        background-color: #999 !important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about,.menu{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .contact{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
    }
    .index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff !important;
            }
            background-color: #666;
            border: 1px solid #333;
            opacity:0.9;
        }
    }
}
